.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97vw;
    height: 20vh;
    padding-left: 2rem;
}

.logo>h1 {
    font-size: 3.5rem;
    color: #58becc;
    font-weight: 700;
    cursor: pointer;
}

.span1 {
    color: gray;
    font-size: 1rem;
    font-weight: 500;
}

.span2 {
    font-weight: 600;
    color: #58becc;
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;

}

.connect-button>img {
    width: 2rem;
    height: 2rem;
}



.connect-button {
    cursor: pointer;
    display: flex;
    margin: 20px;
    /* padding: 20px; */
    width: 15vw;
    height: 8vh;
    align-items: center;
    justify-content: center;
    background-color: #58becc;
    border-radius: 20px;
}

.connect-button>p {
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.timer>.value {
    font-weight: 500;
    font-size: medium;
}

.buttons>select,
button {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: gray;
    opacity: .9;
    height: 5vh;
    color: white;
    margin: 10px;
    width: 5vw;
    font-weight: 600;
    font-size: 13px;
    border-radius: 10px;
}

.buttons > a>  button {
    border-style: none;
}
a {
    text-decoration: none;
}

.buttons {
    padding-right: 40px;
}